{% extends "base.html" %}

{% block titulo %}{# TODO: muestra producto.nombre #} - Tienda Virtual{% endblock %}

{% block contenido %}
<div class="detalle-producto">

    {# TODO 1:#} Imagen: <img src="{{ url_for('static', filename=producto.foto) }}" alt="...">

    {# TODO 2: Nombre en un <h2> #}
        <h2>{{ producto.nombre }}</h2>

    {# TODO 3: Marca, SKU y categoría (producto.categoria.nombre) #}
    <p>Marca: {{ producto.marca }}</p>
    <p>SKU: {{ producto.sku }}</p>
    <p>Categoría: {{ producto.categoria.nombre }}</p>

    {# TODO 4: Precio formateado:
       <p>${{ "{:,.0f}".format(producto.precio) }}</p> #}

    {# TODO 5: Stock y disponibilidad (producto.stock, producto.disponible) #}
    <p>Stock: {{ producto.stock }}</p>
    <p>Disponibilidad: {% if producto.disponible %}Disponible{% else %}Agotado{% endif %}</p>


    <p><a href="{{ url_for('main.index') }}">&larr; Volver al catálogo</a></p>
</div>
{% endblock %}
